@inject HttpClient HttpClient

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Pizza.Special!.Name</h2>
            @Pizza.Special.Description
        </div>
        <form class="dialog-body">
            <div>
                <label>Size:</label>
                <input type="range" min="@Pizza.MinimumSize" max="@Pizza.MaximumSize" step="1" @bind="Pizza.Size" @bind:event="oninput" />
                <span class="size-label">
                    @(Pizza.Size)" (£@(Pizza.GetFormattedTotalPrice()))
                </span>
            </div>
        </form>
        <!-- Source: https://getbootstrap.com/docs/5.3/utilities/position/#position-values -->
        <div class="dialog-buttons position-relative">
            <button class="btn btn-secondary mr-auto" @onclick="OnCancel">Cancel</button>
            <div class="position-absolute top-50 start-50 translate-middle">
                Price: <span class="price">@(Pizza.GetFormattedTotalPrice())</span>
            </div>
            <button class="btn btn-success ms-auto" @onclick="OnConfirm">Order</button>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public required Pizza Pizza { get; set; }
    [Parameter, EditorRequired]
    public EventCallback OnCancel { get; set; }
    [Parameter, EditorRequired]
    public EventCallback OnConfirm { get; set; }
}
